# If production set to False :)
DEBUG = True

# Generate secret key by running:
# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY = None

ALLOWED_HOSTS = ["*"]

STATIC_URL = "/static/"
MEDIA_URL = "/media/"

STATIC_ROOT = os.path.join(BASE_DIR, "static")
MEDIA_ROOT = os.path.join(BASE_DIR, "media")

TWILIO_ACCOUNT_SID = ""
TWILIO_AUTH_TOKEN = ""
