{% extends 'content/base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'content/css/style.css' %}" />
{% endblock %}

{% block body %}
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="#">LetsCheck Demo</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/vrde/letscheck"
              >Source Code</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">
      <div class="jumbotron hero p-sm-8">
        <div class="container">
          <div class="col-md-8 px-0">
            <h1 class="display-3 font-italic">LetsCheck Demo</h1>
            <p class="lead my-3">LetsCheck is a fact–checking website and a chatbot to verify fake news. It's free and open source code anyone can use. What you see here is a demo of LetsCheck. Send a message to our chatbot, or browse our database of facts!
            </p>
            <!--You can use both or, if you already have a website, you can import your database of facts in LetsCheck.-->
          </div>
        </div>
      </div>


      <div class="jumbotron p-sm-8 p-4">
        <div class="container">
          <div class="row mb-5">
            <div class="col-12 text-center">
              <h2 class="display-4">
                Try the chatbot
              </h2>
            </div>
            <div class="col-md-6 mx-auto">
              <a href="https://wa.me/17163330010?text=Coronavirus%20is%20bioweapon%20leaked%20from%20a%20lab%20in%20Wuhan" class="btn btn-success btn-block btn-lg" target="_blank" role="button" aria-pressed="true">Verify a fake news</a>

              <p class="mt-3"><strong>Doesn't work?</strong> Open WhatsApp and send <code>Coronavirus is a bioweapon leaked from a lab in Wuhan</code> to <code>+1&nbsp;716&nbsp;333&nbsp;0010</code></p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="display-4">
              News in our database
            </h2>
          </div>
        </div>
        {% for n in news %}
        <div class="row">
          <div class="card mb-5">
            <div class="card-header">
              {{ n.rating }}: {{ n.title }}
            </div>
            <div class="card-body">
              <div>
                {{ n.description|linebreaks|truncatechars:256}}
              </div>
            </div>
            <div class="card-footer">
              This news has been verified {{ n.case_set.all|length }} times.
            </div>
          </div>
        </div>
        {% empty %}
        <div class="alert alert-warning" role="alert">
          No news good news?
        </div>
        {% endfor %}
      </div>

      <div class="jumbotron p-sm-8 p-4">
        <div class="container text-center">
          <h2 class="display-4">
            Learn more about LetsCheck.
          </h2>
          <p>
          <a class="btn btn-primary btn-lg" href="mailto:agranzot@mailbox.org?subject=Let's talk about LetsCheck" role="button">Contact Us</a>
          <a class="btn btn-secondary btn-lg" href="https://github.com/vrde/letscheck" role="button">Source Code</a>
          </p>
        </div>
      </div>
    </main>

{% endblock %}
