@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Merriweather:wght@300;700&display=swap");

body {
  padding-top: 3.5rem;
  font-family: "Merriweather", serif;
}

@media (max-width: 575.98px) {
  .display-3 {
    font-size: 2.2rem;
  }
  .display-4 {
    font-size: 2rem;
  }
  .emoji {
    width: 2rem !important;
  }
  .jumbotron p {
    font-size: 1.2rem !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}

:root {
  /*--primary-color: #fecc14;*/
  --primary-color: #ffeb3b;
  --secondary-color: #f48fb1;
  --tertiary-color: #80deea;
}

.bg-dark {
  /*background-color: #075e55 !important;*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/*
.bg-dark {
  background-color: #ffeb3b !important;
}

.navbar-dark .navbar-brand {
  color: black;
}
*/

.jumbotron {
  border-radius: 0;
  background-image: url("./images/bg-tr3.png");
  background-color: var(--primary-color);
  position: relative;
}

.emoji {
  width: 5rem;
}

.jumbotron.hero:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.jumbotron.hero p {
  position: relative;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.claim-1 {
  background-color: var(--secondary-color);
}

.claim-2 {
  background-color: var(--tertiary-color);
}

.bubble {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  /*background-color: #dcf8c6;*/
  background-color: white;
  border-radius: 0rem 1rem 1rem 1rem;
  padding: 2rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.bubble .metadata {
  font-weight: normal;
  position: absolute;
  bottom: 0.8rem;
  right: 1.5rem;
  line-height: 90%;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.45);
}

.bubble .metadata .time {
  padding-right: 0.2rem;
}

.bubble:before,
.bubble:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}
.bubble:before,
.bubble:after {
  border-width: 0 2rem 2rem 0;
  border-color: transparent white transparent transparent;
  top: 0;
  left: -1.9rem;
}
.bubble:before {
  border-right-color: rgba(0, 0, 0, 0.15);
  left: -2rem;
}

.bubble h1,
.bubble h2 {
  line-height: 100%;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  max-width: 60rem;
}

.jumbotron p {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
}

.how-it-works .display-4 {
  text-align: center;
}

.how-it-works img {
  border-radius: 0.5rem;
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

/*
 * Thanks to https://jarv.is/notes/css-waving-hand-emoji/ for this nice
 * animation!
 */

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
