arrow==0.15.5
asgiref==3.2.5
blessed==1.17.3
certifi==2022.12.7
chardet==3.0.4
Django==3.0.12
django-crispy-forms==1.9.0
django-debug-toolbar==2.2
django-picklefield==2.1.1
django-q==1.2.1
idna==2.9
PyJWT==1.7.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
twilio==6.37.0
urllib3==1.25.8
wcwidth==0.1.9
