{% extends 'triage/base.html' %}

{% block content %}
    {% for case in cases %}
        <div class="card mb-5">
            <div class="card-header">
                Message from {{ case.request.sender_safe }}, {{ case.request.dt }}
            </div>
            <div class="card-body">
                <h5 class="card-title">Text</h5>
                <p class="card-text">{{ case.request.body }}</p>
                <h5 class="card-title">Media</h5>
                {% for media in case.request.media_set.all %}
                    {% if media.embed_as == "image" %}
                        <img src="{{ media.url }}" />
                    {% endif %}
                {% endfor %}
                <hr/>
                <a href="{% url 'case_details' case.pk %}" class="btn btn-primary">Details</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
